<html>
<head>
  <title>About Us</title>
</head>
<body id='aboutbody'>
  <h1 id='abouth1'>Explorers, Welcome</h1>

    <p id='aboutp' class='container'>Explorer is a map to help you find the best hotels to stay while on vacation.  Use Explorer to <em>explore</em> your surroundings based on the things that interest you and find hotels located in those areas.  Explorer was created, built and cared for by <a href="mailto:tim.blonski@gmail.com?subject=Explorer">Tim Blonski</a> & <a href="mailto:jamalkpowell@gmail.com?subject=Explorer">Jamal Powell</a>. Email us with suggestions, advice and find us on <a href="http://www.github.com/jamalp/explorer" target="_blank">Github</a>! <br>Happy Exploring.</p>

</body>
</html>