<div id='sidebar' class='navbar navbar-fixed-bottom'>
  <div class="btn-group" class='btn btn-default navbar-btn'>
      <button type="button" class="btn btn-primary"   id="trending">Trending</button>
      <button type="button" class="btn btn-primary"   id="coffee">Coffee</button>
      <button type="button" class="btn btn-primary"   id ="bars">Bars</button>
      <button type="button" class="btn btn-primary"   id="food">Food</button>
      <button type="button" class="btn btn-primary"   id="shops">Shops</button>
      <button type="button" class="btn btn-primary"   id="arts">Arts</button>
      <button type="button" class="btn btn-primary"   id="outdoors">Outdoors</button>
      <button type="button" class="btn btn-primary"   id="sights">Sights</button>
      <button type="button" class="btn btn-primary"  id="topPicks">Top Picks</button>
      <button type="button" class="btn btn-primary" id="showFavoritesButton">Favorite Locations</button>
      <button type="button" class="btn btn-primary" id="faveCitiesButton">Favorite Cities</button>
      <button type="button" class="btn btn-danger"  id="showMap">Show Map</button>
  </div>
</div>